<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel in May 1999</h1><p><hr><br>

<font size="+1">

<img src=aja091.jpg alt="Annabel with Sean and Cathy"><br>
This is Annabel with Uncle Sean and Cathy at Muir Woods<p>
<img src=aja092.jpg alt="Annabel posing"><br>
This is Annabel posing<p>
<img src=aja093.jpg alt="Annabel upsidedown"><br>
This is Annabel hanging with her Dad<p>
<img src=aja094.jpg alt="Annabel crawling"><br>
This is Annabel crawling<p>
<img src=aja095.jpg alt="Annabel with Mommy"><br>
This is Annabel with her Mommy<p>
<img src=aja096.jpg alt="Annabel in laundry basket"><br>
This is Annabel helping Mommy with the laundry<p>
<img src=aja097.jpg alt="Annabel reading"><br>
This is Annabel reading her favorite book<p>

</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>