<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel's First Month</h1><p><hr><br>

<font size="+1">

<img src=aja021.jpg alt="Annabel napping"><br>
This is Annabel napping after we brought her home<p>
<img src=aja022.jpg alt="Sheryl's blanlet"><br>
This is Annabel with a blanket and hat made by Sheryl<p>
<img src=aja023.jpg alt="Annabel napping"><br>
This is Annabel napping some more<p>
<img src=aja024.jpg alt="Annabel napping"><br>
This is Annabel waking up from a nap<p>
<img src=aja025.jpg alt="Annabel waking up"><br>
This is Annabel getting her pajamas on for bed<p>
<img src=aja026.jpg alt="Annabel napping"><br>
This is Annabel with Mom under a blanket made by her Great-grandma Morelli<p>
<img src=aja027.jpg alt="Annabel and Grandma"><br>
This is Annabel with her Grandma<p>
<img src=aja028.jpg alt="Annabel and sunflower"><br>
This is Annabel with her musical sunflower from Kristi<p>
<img src=aja029.jpg alt="Annabel napping"><br>
This is Annabel making herself comfortable<p>
<img src=aja02a.jpg alt="Annabel smiling"><br>
This is Annabel smiling with her Dad<p>
<img src=aja02b.jpg alt="Annabel napping"><br>
This is Annabel napping on her Dad<p>
</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>