<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel at the Hospital</h1><p><hr><br>

<font size="+1">
Annabel Jean Allen was born on October 17, 1998 at 8:03am (pacific time).  She was 7 lbs 5 ozs and 20 inches long.<p>

<img src=aja011.jpg alt="Annabel and Dad"><br>
This is Annabel moments after birth with her Dad<p>
<img src=aja012.jpg alt="Annabel with Mom and Dad"><br>
This is Annabel with Mom and Dad in the operating room<p>
<img src=aja013.jpg alt="Annabel with Grandparents"><br>
This is Annabel with her Grandparents<p>
<img src=aja014.jpg alt="Annabel"><br>
This is Annabel relaxing at the hospital<p>
<img src=footprnt.jpg alt="Annabel's footprints"><br>
These are Annabel's footprints<p>
</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>