<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel in April 1999</h1><p><hr><br>

<font size="+1">

<img src=aja081.jpg alt="Annabel with sunglasses"><br>
This is Annabel looking cool<p>
<img src=aja082.jpg alt="Annabel in crib"><br>
This is Annabel standing (her favorite thing to do)<p>
<img src=aja083.jpg alt="Annabel waiting"><br>
This is Annabel waiting on Mom and Dad<p>
<img src=aja084.jpg alt="Annabel playing"><br>
This is Annabel playing with her rings<p>
<img src=aja085.jpg alt="Annabel eating"><br>
This is Annabel having dinner<p>
<img src=aja086.jpg alt="Annabel with toys"><br>
This is Annabel taking out all the toys her Mom just put away<p>
<img src=aja087.jpg alt="Annabel and Daddy"><br>
This is Annabel with her Dad watching the Red Wings sweep<br>
the not-so-Mighty Ducks in the first round of the playoffs<p>

</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>