<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel in June 2007</h1><p><hr><br>

<font size="+1">

<img src=aja1061.jpg alt="Annabel photographer"><br>
This is Annabel the photographer<p>
<img src=aja1062.jpg alt="Annabel swinging"><br>
This is Annabel swinging at the beach<p>
<img src=aja1063.jpg alt="Annabel on the pier"><br>
This is Annabel enjoying the Grand Haven pier at Lake Michigan<p>
<img src=aja1064.jpg alt="Annabel at the annuals"><br>
This is Annabel at the Michigan State University Annual Gardens<p>
<img src=aja1068.jpg alt="Annabel and Alex"><br>
This is Annabel and Alex at the Michigan State University Children's Gardens<p>
<img src=aja1065.jpg alt="Annabel and the roses"><br>
This is Annabel at the Michigan State University Rose Gardens<p>
<img src=aja1066.jpg alt="Annabel and Alex2"><br>
This is Annabel and Alex enjoying the roses<p>
<img src=aja1067.jpg alt="Annabel and Alex 3"><br>
This is Annabel and Alex cooling off in the pool<p>


</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>