<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel in August 2007</h1><p><hr><br>

<font size="+1">

<img src=aja1081.jpg alt="Annabel in Caseville"><br>
This is Annabel in Caseville with Alex and her cousins Will and Curran<p>
<img src=aja1082.jpg alt="Annabel, Alex and Webkinz"><br>
This is Annabel and Alex with their Webkinz<p>
<img src=aja1083.jpg alt="Annabel's expander"><br>
This is Annabel showing off her new orthodonture<p>
<img src=aja1084.jpg alt="Annabel at the park"><br>
This is Annabel enjoying a picnic at the park<p>
<img src=aja1085.jpg alt="Annabel biking"><br>
This is Annabel, who has finally learned to ride a bike!<br>(look, no training wheels)<p>
<img src=aja1086.jpg alt="Annabel glowing"><br>
This is Annabel showing off her glow stick<p>

</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>