<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel in June 2008</h1><p><hr><br>

<font size="+1">

<img src=aja1181.jpg alt="Annabel on vacation"><br>
This is Annabel enjoying the start of her Summer Vacation<p>
<img src=aja1182.jpg alt="Annabel at the Soo"><br>
This is Annabel and Alex at the Soo Locks<p>
<img src=aja1183.jpg alt="Annabel at Whitefish Point"><br>
This is Annabel and Alex at Whitefish Point<p>
<img src=aja1184.jpg alt="Annabel at Tahquamenon"><br>
This is Annabel enjoying Tahquamenon Falls<p>
<img src=aja1185.jpg alt="Annabel at Lake Superior"><br>
This is Annabel wading in Lake Superior<p>
<img src=aja1186.jpg alt="Annabel at Wagner Falls"><br>
This is Annabel and Alex at Wagner Falls<p>
<img src=aja1187.jpg alt="Annabel at the park"><br>
This is Annabel and Alex taking a break at a park in da UP<p>
<img src=aja1188.jpg alt="Annabel at the bridge"><br>
This is Annabel and Alex at the Mackinac Bridge<p>
<img src=aja1189.jpg alt="Annabel and the giant clam"><br>
This is Annabel and Alex visiting the Giant Man-Eating Clam<p>
</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>