<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel in January 2007</h1><p><hr><br>

<font size="+1">

<img src=aja1011.jpg alt="Annabel and Alex"><br>
This is Annabel and Alex with snow dude<p>
<img src=aja1012.jpg alt="Annabel the usher"><br>
This is Annabel passing out programs for her play<p>
<img src=aja1013.jpg alt="Annabel the Narrator"><br>
This is Annabel the Narrator for The Elephant's Child<p>
<img src=aja1014.jpg alt="Annabel with the cast"><br>
This is Annabel and the rest of the cast for The Elephant's Child<p>
<img src=aja1015.jpg alt="Annabel reading"><br>
This is Annabel doing her favorite thing in the whole world - reading<p>

</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>