<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel in November 1999</h1><p><hr><br>

<font size="+1">

<img src=aja151.jpg alt="Annabel in hat"><br>
This is Annabel wearing her favorite hat<p>
<img src=aja152.jpg alt="Annabel in new outfit"><br>
This is Annabel modeling a new outfit<p>
<img src=aja153.jpg alt="Annabel and Curran"><br>
This is Annabel taking a ride with her cousin Curran<p>
<img src=aja154.jpg alt="Annabel at Thanksgiving dinner"><br>
This is Annabel falling asleep during Thanksgiving dinner<p>
<img src=aja155.jpg alt="Annabel and Uncle Matt"><br>
This is Annabel playing with Uncle Matt<p>
<img src=aja156.jpg alt="Annabel in chair"><br>
This is Annabel in Uncle Sean's old chair<p>
<img src=aja157.jpg alt="Annabel and Grandma"><br>
This is Annabel playing checkers with Grandma<p>

</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>