<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel in September 1999</h1><p><hr><br>

<font size="+1">

<img src=aja131.jpg alt="Annabel hanging out"><br>
This is Annabel hanging out<p>
<img src=aja132.jpg alt="Annabel and walker"><br>
This is Annabel pushing her walker<p>
<img src=aja133.jpg alt="Annabel celebrating"><br>
This is Annabel celebrating a Michigan State touchdown<p>
<img src=aja134.jpg alt="Annabel hiding"><br>
This is Annabel hiding in a comforter<p>
<img src=aja135.jpg alt="Annabel and her kittys"><br>
This is Annabel with her kittys Silver and Amber<p>

</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>