<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel in July 2007</h1><p><hr><br>

<font size="+1">

<img src=aja1071.jpg alt="Annabel camping"><br>
This is Annabel camping with cousins Will and Curran<p>
<img src=aja1072.jpg alt="Annabel at sunset"><br>
This is Annabel enjoying the sunset on the beach at Lake Michigan<p>
<img src=aja1073.jpg alt="Annabel closeup"><br>
This is Annabel at very close range<p>
<img src=aja1074.jpg alt="Annabel at the fireworks"><br>
This is Annabel waiting for the fireworks on the 4th of July<p>
<img src=aja1075.jpg alt="Annabel at Lake Michigan"><br>
This is Annabel at Lake Michigan<p>
<img src=aja1077.jpg alt="Annabel on the ferry"><br>
This is Annabel on the ferry to Mackinac Island<p>
<img src=aja1076.jpg alt="Annabel and Alex"><br>
This is Annabel and Alex enjoying Mackinac Island<p>
<img src=aja1078.jpg alt="Annabel and Alex 2"><br>
This is Annabel and Alex at the Mackinac Bridge<p>


</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>