<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel in October 1999</h1><p><hr><br>

<font size="+1">

<img src=aja141.jpg alt="Annabel smiling"><br>
This is Annabel smiling as the Red Wings beat the Flyers<p>
<img src=aja142.jpg alt="Annabel making a wish"><br>
This is Annabel making a wish on her 1st birthday<p>
<img src=aja143.jpg alt="Annabel and Uncle Sean"><br>
This is Annabel playing with Uncle Sean<p>
<img src=aja144.jpg alt="Annabel riding"><br>
This is Annabel riding her new scooter<p>
<img src=aja145.jpg alt="Annabel calling"><br>
This is Annabel trying to use the phone<p>
<img src=aja146.jpg alt="Annabel before a walk"><br>
This is Annabel getting ready to go for a walk<p>
<img src=aja147.jpg alt="Annabel before bed"><br>
This is Annabel reading before bed<p>
<img src=aja148.jpg alt="Annabel carving pumpkin"><br>
This is Annabel helping carve our pumpkin<p>
<img src=aja149.jpg alt="Annabel on Halloween"><br>
This is Annabel "the pumpkin" on Halloween<p>

</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>