<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel in February 2007</h1><p><hr><br>

<font size="+1">

<img src=aja1021.jpg alt="Annabel hanging out"><br>
This is Annabel just hanging out at the table<p>
<img src=aja1022.jpg alt="Annabel and Alex"><br>
This is Annabel and Alex with their Valentines dogs (Hugs and Candy Cane)<p>
<img src=aja1023.jpg alt="Annabel and Alex 2"><br>
This is Annabel and Alex riding a suitcase at the airport<p>
<img src=aja1024.jpg alt="Annabel and Alex 3"><br>
This is Annabel and Alex at Legoland California<p>
<img src=aja1025.jpg alt="Annabel in Mini Land"><br>
This is Annabel gazing at the Golden Gate Bridge in Mini Land<p>
<img src=aja1026.jpg alt="Annabel and the Knight"><br>
This is Annabel and her friend the Knight<p>
<img src=aja1027.jpg alt="Annabel at the Pacific"><br>
This is Annabel at the Pacific Ocean<p>
<img src=aja1028.jpg alt="Annabel in a small world"><br>
This is Annabel in a Small World (after all)<p>
<img src=aja1029.jpg alt="Annabel in jail"><br>
This is Annabel breaking out of jail<p>
<img src=aja102a.jpg alt="Annabel and Pooh"><br>
This is Annabel and Pooh<p>
<img src=aja102b.jpg alt="Annabel at the castle"><br>
This is Annabel at Sleeping Beauty's Castle<p>
<img src=aja102c.jpg alt="Annabel The Thinker"><br>
This is Annabel The Thinker<p>
<img src=aja102d.jpg alt="Annabel and Spongebob"><br>
This is Annabel hanging out with Spongebob Squarepants<p>
<img src=aja102e.jpg alt="Annabel eating"><br>
This is Annabel enjoying a birthday brownie from her brother's birthday<p>

</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>