<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel in July 1999</h1><p><hr><br>

<font size="+1">

<img src=aja111.jpg alt="Annabel on the 4th"><br>
This is Annabel in her 4th of July outfit<p>
<img src=aja112.jpg alt="Annabel hanging out"><br>
This is Annabel hanging out at home<p>
<img src=aja113.jpg alt="Annabel at Newport Beach"><br>
This is Annabel visiting Newport Beach<p>
<img src=aja114.jpg alt="Annabel with Grandma"><br>
This is Annabel with her Grandma<p>
<img src=aja115.jpg alt="Annabel at Lake Michigan"><br>
This is Annabel with Mom and Dad at Lake Michigan<p>
<img src=aja116.jpg alt="Annabel with Uncle Sean"><br>
This is Annabel with Uncle Sean in Michigan<p>
<img src=aja117.jpg alt="Annabel with Aunt Laura and Mitchell"><br>
This is Annabel with Aunt Laura and her cousin Mitchell in Michigan<p>
<img src=aja118.jpg alt="Annabel with Grandpa"><br>
This is Annabel with her Grandpa in Michigan<p>
<img src=aja119.jpg alt="Annabel at beach"><br>
This is Annabel at a beach on Lake Michigan<p>
<img src=aja11a.jpg alt="Annabel with Will"><br>
This is Annabel riding with her cousin Will in Michigan<p>

</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>