<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel in 2000</h1><p><hr><br>

<font size="+1">

<img src=aja176.jpg alt="Annabel on a slide"><br>
This is Annabel on a slide at the park
<a href="aja17.htm">(1/2000)</a><p>
<img src=aja186.jpg alt="Annabel reading"><br>
This is Annabel enjoying a few of her books
<a href="aja18.htm">(2/2000)</a><p>
<img src=aja195.jpg alt="Annabel and snowman"><br>
This is Annabel with her snowman
<a href="aja19.htm">(3/2000)</a><p>
<img src=aja206.jpg alt="Annabel hiking"><br>
This is Annabel hiking at Muir Woods
<a href="aja20.htm">(4/2000)</a><p>
<img src=aja216.jpg alt="Annabel relaxing"><br>
This is Annabel relaxing
<a href="aja21.htm">(5/2000)</a><p>
<img src=aja224.jpg alt="Annabel in PJs"><br>
This is Annabel posing in her princess pajamas
<a href="aja22.htm">(6/2000)</a><p>
<img src=aja234.jpg alt="Annabel and great grandparents"><br>
This is Annabel with her Great Grandma and Grandpa Morelli
<a href="aja23.htm">(7/2000)</a><p>
<img src=aja245.jpg alt="Annabel picking rhubarb"><br>
This is Annabel picking rhubarb
<a href="aja24.htm">(8/2000)</a><p>
<img src=aja254.jpg alt="Annabel with flower"><br>
This is Annabel handing you a flower
<a href="aja25.htm">(9/2000)</a><p>
<img src=aja266.jpg alt="Annabel with pumpkin"><br>
This is Annabel on Halloween with a pumpkin
<a href="aja26.htm">(10/2000)</a><p>
<img src=aja271.jpg alt="Annabel"><br>
This is Annabel being cute
<a href="aja27.htm">(11/2000)</a><p>
<img src=aja281.jpg alt="Annabel shoveling"><br>
This is Annabel clearing off the deck
<a href="aja28.htm">(12/2000)</a><p>

</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>