<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel in December 2000</h1><p><hr><br>

<font size="+1">

<img src=aja281.jpg alt="Annabel shoveling"><br>
This is Annabel clearing off the deck<p>
<img src=aja282.jpg alt="Annabel with snowman"><br>
This is Annabel and Mommy's snowman<p>
<img src=aja283.jpg alt="Annabel camping"><br>
This is Annabel snuggling in her new Barbie sleeping bag<p>
<img src=aja284.jpg alt="Annabel at christmas"><br>
This is Annabel with her cousins at Christmas<p>
<img src=aja285.jpg alt="Annabel opening present"><br>
This is Annabel opening a big Christmas present<p>

</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>