<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel in 2001</h1><p><hr><br>

<font size="+1">

<img src=aja292.jpg alt="Annabel with Barbie house"><br>
This is Annabel playing with her Barbie house, complete with an elevator
<a href="aja29.htm">(1/2001)</a><p>
<img src=aja307.jpg alt="Annabel eating a Packzi"><br>
This is Annabel eating a Paczki on Fat Tuesday
<a href="aja30.htm">(2/2001)</a><p>
<img src=aja318.jpg alt="Annabel and a bunny"><br>
This is Annabel and her bunny enjoying a nice day
<a href="aja31.htm">(3/2001)</a><p>
<img src=aja322.jpg alt="Annabel and tulips"><br>
This is Annabel tiptoeing through the tulips
<a href="aja32.htm">(4/2001)</a><p>
<img src=aja331.jpg alt="Annabel playing"><br>
This is Annabel playing at a park
<a href="aja33.htm">(5/2001)</a><p>
<img src=aja348.jpg alt="Annabel in the sprinkler"><br>
This is Annabel (a.k.a. Flash) running through the sprinkler
<a href="aja34.htm">(6/2001)</a><p>
<img src=aja353.jpg alt="Annabel smiling"><br>
This is Annabel being Annabel
<a href="aja35.htm">(7/2001)</a><p>
<img src=aja365.jpg alt="Annabel hiding something"><br>
This is Annabel hiding something behind her back
<a href="aja36.htm">(8/2001)</a><p>
<img src=aja375.jpg alt="Annabel and her cookie"><br>
This is Annabel eating a giant cookie
<a href="aja37.htm">(9/2001)</a><p>
<img src=aja387.jpg alt="Annabel is Snow White"><br>
This is Snow White getting ready to Trick-or-Treat
<a href="aja38.htm">(10/2001)</a><p>
<img src=aja392.jpg alt="Annabel in purple"><br>
This is Annabel getting ready to go outside
<a href="aja39.htm">(11/2001)</a><p>
<img src=aja401.jpg alt="Annnabel the Computer Wiz"><br>
This is Annabel the computer wiz
<a href="aja40.htm">(12/2001)</a><p>

</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>