<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel in 2004</h1><p><hr><br>

<font size="+1">

<img src=aja652.jpg alt="Annabel acting crazy"><br>
This is Annabel acting a little crazy
<a href="aja65.htm">(1/2004)</a><p>
<img src=aja662.jpg alt="Annabel and Flat Stanley"><br>
This is Annabel hanging out with Flat Stanley<br>
(who just got back from a trip to San Diego to visit Uncle Sean)
<a href="aja66.htm">(2/2004)</a><p>
<img src=aja674.jpg alt="Annabel being pretty"><br>
This is Annabel being pretty
<a href="aja67.htm">(3/2004)</a><p>
<img src=aja683.jpg alt="Annabel outside"><br>
This is Annabel enjoying some warm weather outside
<a href="aja68.htm">(4/2004)</a><p>
<img src=aja694.jpg alt="Annabel catching"><br>
This is Annabel getting ready to catch a ball
<a href="aja69.htm">(5/2004)</a><p>
<img src=aja702.jpg alt="Annabel in the peonies"><br>
This is Annabel enjoying Mommy's peonies
<a href="aja70.htm">(6/2004)</a><p>
<img src=aja71a.jpg alt="Annabel"><br>
This is Annabel being Annabel
<a href="aja71.htm">(7/2004)</a><p>
<img src=aja726.jpg alt="Annabel at sunset"><br>
This is Annabel enjoying a Lake Michigan sunset at the beach
<a href="aja72.htm">(8/2004)</a><p>
<img src=aja731.jpg alt="Annabel posing"><br>
This is Annabel looking cute
<a href="aja73.htm">(9/2004)</a><p>
<img src=aja749.jpg alt="50's girl trick-or-treating"><br>
This is a 50's girl trick-or-treating
<a href="aja74.htm">(10/2004)</a><p>
<img src=aja755.jpg alt="Annabel in the snow"><br>
This is Annabel posing in the snow
<a href="aja75.htm">(11/2004)</a><p>
<img src=aja763.jpg alt="Santa Annabel"><br>
This is Santa Annabel saying Ho Ho Ho
<a href="aja76.htm">(12/2004)</a><p>

</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>