<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel in April 2000</h1><p><hr><br>

<font size="+1">

<img src=aja201.jpg alt="Annabel at the beach"><br>
This is Annabel at the beach<p>
<img src=aja202.jpg alt="Annabel taking off shoes"><br>
This is Annabel taking off her shoes<p>
<img src=aja203.jpg alt="Annabel in mirror"><br>
This is Annabel looking in the mirror<p>
<img src=aja204.jpg alt="Annabel and baby"><br>
This is Annabel with her baby<p>
<img src=aja205.jpg alt="Annabel and Mommy"><br>
This is Annabel and Mommy at the Golden Gate Bridge<p>
<img src=aja206.jpg alt="Annabel hiking"><br>
This is Annabel hiking at Muir Woods


</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>