<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel in September 2000</h1><p><hr><br>

<font size="+1">

<img src=aja251.jpg alt="Annabel in Rog's chair"><br>
This is Annabel in Grandpa Rog's chair<p>
<img src=aja252.jpg alt="Annabel in Mom's shoes"><br>
This is Annabel wearing Mom's shoes<p>
<img src=aja253.jpg alt="Annabel with barbies"><br>
This is Annabel with her barbies<p>
<img src=aja254.jpg alt="Annabel with flower"><br>
This is Annabel handing you a flower<p>
<img src=aja255.jpg alt="Annabel at a picnic"><br>
This is Annabel enjoying a picnic at Lake Lansing<p>
<img src=aja256.jpg alt="Annabel on the slide"><br>
This is Annabel on a slide<p>

</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>