<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel in October 2000</h1><p><hr><br>

<font size="+1">

<img src=aja261.jpg alt="Annabel and Noah"><br>
This is Annabel with her new California friend Noah<p>
<img src=aja262.jpg alt="Annabel's 2nd Birthday"><br>
This is Annabel celebrating her 2nd Birthday<p>
<img src=aja263.jpg alt="Annabel saying NO"><br>
This is Annabel saying her favorite word, NO!<p>
<img src=aja264.jpg alt="Annabel with ball"><br>
This is Annabel playing with a ball<p>
<img src=aja265.jpg alt="Annabel and cousins"><br>
This is Annabel getting ready for zoo-boo with her cousins<p>
<img src=aja266.jpg alt="Annabel with pumpkin"><br>
This is Annabel on Halloween with a pumpkin<p>

</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>