<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel in November 2000</h1><p><hr><br>

<font size="+1">

<img src=aja271.jpg alt="Annabel"><br>
This is Annabel being cute<p>
<img src=aja272.jpg alt="Annabel dusting"><br>
This is Annabel helping Mommy clean the house<p>
<img src=aja273.jpg alt="Annabel in the snow"><br>
This is Annabel playing in the snow<p>
<img src=aja274.jpg alt="Annabel and Sean"><br>
This is Annabel napping on Uncle Sean<p>
<img src=aja275.jpg alt="Annabel and Great-Grandfather"><br>
This is Annabel with her Great-Grandfather and Daddy<p>
<img src=aja276.jpg alt="Annabel and Grandma"><br>
This is Annabel with her Grandma at the Silverdome<p>

</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>