<html>

<title>Past Art by Annabel</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel Art in 2008</h1><p><hr><br>

<font size="+1">

<img src=aja123art.jpg alt="The Un-named Tree" border=2><br>
<font size="+1">"The Un-named Tree" by Annabel (crayons and oil pastels melted on ceramic tile 11/2008)<p>
<img src=aja119art.jpg alt="Red Admiral" border=2><br>
<font size="+1">"Red Admiral" by Annabel (marker, pencil and pen on paper 7/2008)<p>
<img src=aja117art1.jpg alt="The Doorway" border=2><br>
<img src=aja117art2.jpg alt="The Doorway" border=2><br>
<font size="+1">"The Doorway" by Annabel (paint on brown paper bag 5/2008)<p>
<img src=aja114art-2.jpg alt="Four Corners" border=2><br>
<font size="+1">"Four Corners" by Annabel (paint on ceramic tile 2/2008)<p>
<img src=aja114art-1.jpg alt="Clay Bowl" border=2><br>
<font size="+1">"Clay Bowl" by Annabel (kiln-fired clay with glaze 2/2008)<p>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</center>
</font>
</body>
</html>