<html>

<title>Past Art by Annabel</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel Art in 2002</h1><p><hr><br>

<font size="+1">

<img src=aja52art.jpg alt="Night and Morning Sky" border=2><br>
"Night and Morning Sky" by Annabel (tempera paint on construction paper 12/2002)<p>
<img src=aja51art.jpg alt="Annabel, Mommy, a Blue Car, and a Doll in a Bag" border=2><br>
"Annabel, Mommy, a Blue Car, and a Doll in a Bag" by Annabel (crayons and construction paper on paper 11/2002)<p>
<img src=aja50art.jpg alt="Annabel, Mrs. Ford, and The Kitty" border=2><br>
"Annabel, Mrs. Ford, and The Kitty" by Annabel (markers on paper 10/2002)<p>
<img src=aja49art.jpg alt="The Painting" border=2><br>
"The Painting" by Annabel (paint on paper 9/2002)<p>
<img src=aja48art.jpg alt="The Butterfly" border=2><br>
"The Butterfly" by Annabel (paint pens on paper 8/2002)<p>
<img src=aja47art.jpg alt="The Map" border=2><br>
"The Map" by Annabel (computer graphics 7/2002)<p>
<img src=aja46art.jpg alt="Annabel and Alex" border=2><br>
"Annabel and Alex" by Annabel (crayon on paper 6/2002)<p>
<img src=aja45art.jpg alt="Pretty Butterfly" border=2><br>
"Pretty Butterfly" by Annabel (foodcoloring on coffee filter with pipecleaner 5/2002)<p>
<img src=aja44art.jpg alt="Mommy with Hairdryer" border=2><br>
"Mommy with Hairdryer" by Annabel (colored pencil on paper 4/2002)<p>
<img src=aja43art.jpg alt="Annabel and Alex" border=2><br>
"Annabel and Alex" by Annabel (marker on paper 3/2002)<p>
<img src=aja42art.jpg alt="Snowman" border=2><br>
"Snowman" by Annabel (colored pen on paper 2/2002)<p>
<img src=aja41art.jpg alt="Self Portrait" border=2><br>
"Self Portrait" by Annabel (crayon on disposable restaurant placemat 1/2002)<p>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</center>
</font>
</body>
</html>