<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel in May 2001</h1><p><hr><br>

<font size="+1">

<img src=aja331.jpg alt="Annabel playing"><br>
This is Annabel playing at a park<p>
<img src=aja332.jpg alt="Annabel and Mary"><br>
This is Annabel and her cousin Mary<p>
<img src=aja333.jpg alt="Annabel baking"><br>
This is Annabel making cupcakes<p>
<img src=aja334.jpg alt="Annabel in the yard"><br>
This is Annabel in the back yard<p>
<img src=aja335.jpg alt="Annabel and Emme"><br>
This is Annabel putting Emme to bed<p>
<img src=aja336.jpg alt="Annabel eating"><br>
This is Annabel eating some beef jerkey (one of her favorite foods)<p>

</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>