<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel in November 2001</h1><p><hr><br>

<font size="+1">

<img src=aja391.jpg alt="Annnabel and Grandma"><br>
This is Annabel keeping an eye on Grandma<p>
<img src=aja392.jpg alt="Annabel in purple"><br>
This is Annabel getting ready to go outside<p>
<img src=aja393.jpg alt="Annabel in pigtails"><br>
This is Annabel with some very rare pigtails<p>
<img src=aja394.jpg alt="Annabel and Emme"><br>
This is Annabel hugging Emme<p>
<img src=aja395.jpg alt="Annabel snuggling"><br>
This is Annabel snuggling in a warm comfortor<p>
<img src=aja396.jpg alt="Annabel with a book"><br>
This is Annabel helping Mommy study for class<p>
<img src=aja397.jpg alt="Annabel and Emme 2"><br>
This is Annabel and Emme watching Dragon Tales<p>

</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>