<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel in February 2002</h1><p><hr><br>

<font size="+1">

<img src=aja421.jpg alt="Annnabel enjoying winter"><br>
This is Annabel enjoying the Michigan winter<p>
<img src=aja422.jpg alt="Annabel in a big coat"><br>
This is Annabel wearing Daddy's coat<p>
<img src=aja423.jpg alt="Annabel acting silly"><br>
This is Annabel acting a little silly<p>
<img src=aja424.jpg alt="Annabel being cute"><br>
This is Annabel being her cute self<p>
<img src=aja425.jpg alt="Annabel, Grandma and Alex"><br>
This is Annabel at the hospital with Grandma and her new little brother Alex<p>
<img src=aja426.jpg alt="Annabel and Alex"><br>
This is Annabel napping with Alex<p>
<img src=aja427.jpg alt="Annabel posing"><br>
This is Annabel posing for the camera<p>

</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>