<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel in December 2001</h1><p><hr><br>

<font size="+1">

<img src=aja401.jpg alt="Annnabel the Computer Wiz"><br>
This is Annabel the computer wiz<p>
<img src=aja402.jpg alt="Annabel rocking"><br>
This is Annabel relaxing in a rocking chair<p>
<img src=aja403.jpg alt="Annabel and Grandpa"><br>
This is Annabel reading a book with Grandpa<p>
<img src=aja404.jpg alt="Annabel opening gifts"><br>
This is Annabel opening gifts Christmas morning<p>
<img src=aja405.jpg alt="Annabel and Curran"><br>
This is Annabel with cousin Curran on Christmas<p>
<img src=aja406.jpg alt="Annabel with Mommy and Daddy"><br>
This is Annabel and her family on Christmas<p>
<img src=aja407.jpg alt="Annabel in the snow"><br>
This is Annabel playing in the snow<p>

</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>