<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel in October 2002</h1><p><hr><br>

<font size="+1">

<img src=aja501.jpg alt="Annnabel modeling"><br>
This is Annabel modeling her birthday outfit from Uncle Matt<p>
<img src=aja502.jpg alt="Annabel and Alex"><br>
This is Annabel and Alex peeking at Mommy<p>
<img src=aja503.jpg alt="Annabel's stripes"><br>
This is Annabel in an outfit she picked out herself (hard to believe, huh?)<p>
<img src=aja504.jpg alt="Annabel playing"><br>
This is Annabel beating Daddy at Pretty Pretty Princess<p>
<img src=aja506.jpg alt="Annabel and Alex 2"><br>
This is Annabel and Alex having fun on the couch<p>
<img src=aja507.jpg alt="Annabel smiling"><br>
This is Annabel whith her "camera smile"<p>
<img src=aja505.jpg alt="Annabel and Mommy"><br>
This is Annabel and Mommy in their matching Halloween shirts<p>
<img src=aja508.jpg alt="Annabel as Cinderella"><br>
This is Cinderella getting ready to trick-or-treat<p>
<img src=aja509.jpg alt="Annabel and Alex 3"><br>
This is Cinderella and Spiderman on Halloween night<p>
</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>