<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel in January 2003</h1><p><hr><br>

<font size="+1">

<img src=aja531.jpg alt="Annnabel making a mess"><br>
This is Annabel looking innocent after making a big mess<p>
<img src=aja532.jpg alt="Annabel and Flat Evan"><br>
This is Annabel at Michigan State with Flat Evan, who was visiting us from Connecticut<p>
<img src=aja533.jpg alt="Annabel and Alex"><br>
This is Annabel and Alex getting ready for bed<p>
<img src=aja534.jpg alt="Annabel posing"><br>
This is Annabel posing for the camera<p>
<img src=aja535.jpg alt="Annabel and Alex 2"><br>
This is Annabel keeping an eye on Alex<p>
<img src=aja536.jpg alt="Annabel and static"><br>
This is Annabel experimenting with static electricity<p>
</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>