<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel in June 2003</h1><p><hr><br>

<font size="+1">

<img src=aja581.jpg alt="Annnabel, Alex and Mommy"><br>
This is Annabel getting ready to graduate from preschool<p>
<img src=aja582.jpg alt="Annabel's Class"><br>
This is Annabel's preschool class graduating (Annabel is the fourth from the left)<p>
<img src=aja583.jpg alt="Annabel goofing around"><br>
This is Annabel acting a little goofy<p>
<img src=aja584.jpg alt="Annabel with a shirt-hat"><br>
This is Annabel wearing a shirt-hat<p>
<img src=aja585.jpg alt="Annabel in the sprinkler"><br>
This is Annabel playing in the sprinkler<p>
<img src=aja586.jpg alt="Annabel's leotard"><br>
This is Annabel showing off her leotard for ballet class<p>
</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>