<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel in May 2004</h1><p><hr><br>

<font size="+1">

<img src=aja691.jpg alt="Annabel t-ball"><br>
This is Annabel the t-ball player<p>
<img src=aja692.jpg alt="Annabel batting"><br>
This is Annabel getting ready to run to first base after a big hit<p>
<img src=aja693.jpg alt="Annabel silly"><br>
This is Annabel being a little silly<p>
<img src=aja694.jpg alt="Annabel catching"><br>
This is Annabel getting ready to catch a ball<p>
<img src=aja697.jpg alt="The Yankees"><br>
This is the Yankees at one of their last t-ball games<p>
<img src=aja695.jpg alt="Annabella balerina"><br>
This is Annabella ballerina getting ready for her recital<p>
<img src=aja696.jpg alt="Annabella balerina 2"><br>
This is Annabella ballerina still looking cute<p>

</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>