<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel in March 2004</h1><p><hr><br>

<font size="+1">

<img src=aja671.jpg alt="Annabel being silly"><br>
This is Annabel being a little silly<p>
<img src=aja672.jpg alt="Annabel and playdoh"><br>
This is Annabel showing off her PlayDoh skills at Grandma and Grandpa's<p>
<img src=aja673.jpg alt="Annabel on the deck"><br>
This is Annabel enjoying some warmer weather on the deck<p>
<img src=aja674.jpg alt="Annabel being pretty"><br>
This is Annabel being pretty<p>
<img src=aja675.jpg alt="Annabel's goofy face"><br>
This is Annabel making a goofy face<p>
<img src=aja676.jpg alt="Annabel and Alex"><br>
This is Annabel watching TV with her brother Alex<p>
<img src=aja677.jpg alt="Annabel with pillow"><br>
This is Annabel getting ready to hit Mommy with a pillow<p>

</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>