<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel in April 2004</h1><p><hr><br>

<font size="+1">

<img src=aja681.jpg alt="Annabel in new dress"><br>
This is Annabel in her new pink dress<p>
<img src=aja682.jpg alt="Annabel the authour"><br>
This is Annabel showing off her book "The Play Date"<br>at the author's reception at Schuler's Book Store<p>
<img src=aja683.jpg alt="Annabel outside"><br>
This is Annabel enjoying some warm weather outside<p>
<img src=aja684.jpg alt="Annabel and Alex"><br>
This is Annabel and Alex sitting on their picnic table<p>
<img src=aja685.jpg alt="Annabel's easter basket"><br>
This is Annabel and her Easter loot<p>
<img src=aja686.jpg alt="Annabel finding eggs"><br>
This is Annabel hunting Easter eggs<p>
<img src=aja687.jpg alt="Annabel smiling"><br>
This is Annabel's picture smile<p>

</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>