<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel in January 2004</h1><p><hr><br>

<font size="+1">

<img src=aja651.jpg alt="Annabela Ballerina"><br>
This is Annabela Ballerina getting ready for ballet class<p>
<img src=aja652.jpg alt="Annabel acting crazy"><br>
This is Annabel acting a little crazy<p>
<img src=aja653.jpg alt="Annabel's creampuffs"><br>
This is Annabel showing off the creampuffs she made with Mommy<p>
<img src=aja654.jpg alt="Annabel and Mary"><br>
This is Annabel hanging out with her second cousin Mary<p>
<img src=aja656.jpg alt="Annabel at Grandma's"><br>
This is Annabel relaxing on Grandma's new couch<p>
<img src=aja655.jpg alt="Annabel and snowgirl"><br>
This is Annabel and her snowgirl that she made with Daddy<p>
</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>