<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel in July 2004</h1><p><hr><br>

<font size="+1">

<img src=aja711.jpg alt="Annabel and Grandma Morelli"><br>
This is Annabel hanging out with Grandma Morelli<p>
<img src=aja712.jpg alt="Annabel swinging"><br>
This is Annabel swinging at a park near Grandma's house<p>
<img src=aja713.jpg alt="Annabel camping"><br>
This is Annabel camping with Melissa and Lizzie in the Poconos<p>
<img src=aja714.jpg alt="Annabel camping 2"><br>
This is Annabel, Melissa, David, Aunt Maureen, Calvin, Lizzie and Uncle Gary<br>enjoying a break from the rain while camping<p>
<img src=aja715.jpg alt="Annabel and Curran"><br>
This is Annabel and Curran enjoying Cedar Point<p>
<img src=aja716.jpg alt="Annabel, Alex and Uncle Sean"><br>
This is Annabel, Alex and Uncle Sean enjoying San Diego<p>
<img src=aja717.jpg alt="Annabel at Pacific Beach"><br>
This is Annabel having a great time at Pacific Beach<p>
<img src=aja718.jpg alt="Annabel and Uncle Sean"><br>
This is Annabel and Uncle Sean getting wet at Legoland<p>
<img src=aja719.jpg alt="Annabel thinking"><br>
This is Annabel thinking<p>
<img src=aja71a.jpg alt="Annabel"><br>
This is Annabel being Annabel<p>
<img src=aja71b.jpg alt="Annabel, Thurston and Noah"><br>
This is Annabel enjoying some birthday cake with Thurston and Noah in Pleasanton<br>(Happy 1st Birthday to Neil!)<p>
</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>