<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel in June 2004</h1><p><hr><br>

<font size="+1">

<img src=aja701.jpg alt="Annabel and Calvin"><br>
This is Annabel and her cousin Calvin<p>
<img src=aja702.jpg alt="Annabel in the peonies"><br>
This is Annabel enjoying Mommy's peonies<p>
<img src=aja703.jpg alt="Annabel swimming"><br>
This is Annabel swimming on a hot day<p>
<img src=aja704.jpg alt="Annabel in the summer"><br>
This is Annabel enjoying her summer vacation<p>
<img src=aja707.jpg alt="Annabel filling the pool"><br>
This is Annabel filling the pool<p>
<img src=aja705.jpg alt="Annabel, Mary and Morgan"><br>
This is Annabel with her friends Mary and Morgan<p>
<img src=aja706.jpg alt="Annabel, Mary and Evelyn"><br>
This is Annabel with her friends Mary and Evelyn<p>
<img src=aja708.jpg alt="Annabel and Bitty Baby"><br>
This is Annabel taking care of Bitty Baby<p>
<img src=aja709.jpg alt="Annabel and Noah"><br>
This is Annabel and her friend Noah<p>
</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>