<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel in September 2005</h1><p><hr><br>

<font size="+1">

<img src=aja851.jpg alt="Annabel the fairy"><br>
This is Fairy Annabel showing off her new Haloween costume<p>
<img src=aja852.jpg alt="Annabel the soccerette"><br>
This is Annabel the HYRA soccer star<p>
<img src=aja853.jpg alt="Annabel in action"><br>
This is Annabel the soccer star in action<p>
<img src=aja854.jpg alt="toothless Annabel"><br>
This is Annabel minus a front tooth<p>
<img src=aja855.jpg alt="Annabel, Alex and the Chipmans"><br>
This is Annabel and Alex with their friends from Oregon, Brian and Jennifer<p>
<img src=aja856.jpg alt="Annabel with cousin Caden"><br>
This is Annabel holding her newest cousin Caden<p>

</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>