<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel in June 2005</h1><p><hr><br>

<font size="+1">

<img src=aja821.jpg alt="Annabel in the minivan"><br>
This is Annabel riding in Mommy's new minivan<p>
<img src=aja822.jpg alt="Annabel, Alex, and Noah"><br>
This is Annabel and Alex with their friend Noah from California<p>
<img src=aja823.jpg alt="Annabel at Mackinac Bridge"><br>
This is Annabel at the Mackinac Bridge<p>
<img src=aja827.jpg alt="Annabel on the ferry"><br>
This is Annabel on the ferry from Mackinac Island (with the Grand Hotel behind her)<p>
<img src=aja824.jpg alt="Annabel, Alex, Curran, and Will"><br>
This is Annabel and Alex with cousins Curran and Will at Will's birthday party<p>
<img src=aja825.jpg alt="Annabel in sprinklers"><br>
This is Annabel enjoying the sprinklers on a hot summer day<p>
<img src=aja826.jpg alt="Annabel, Alex, Calvin, and Bradley"><br>
This is Annabel and Alex with cousins Calvin and Bradley at the beach<p>

</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>