<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel in December 2005</h1><p><hr><br>

<font size="+1">

<img src=aja881.jpg alt="Annabel making pancakes"><br>
This is Annabel mixing up some pancakes for breakfast<p>
<img src=aja882.jpg alt="Annabel in the snow"><br>
This is Annabel, the princess on the snow hill<p>
<img src=aja883.jpg alt="Annabel and Alex sledding"><br>
This is Annabel and Alex sledding at Grandma and Grandpa V's<p>
<img src=aja884.jpg alt="Annabel in pink"><br>
This is Annabel in her new winter dance outfit<p>
<img src=aja885.jpg alt="Annabel gaming"><br>
This is Annabel playing The Sims<p>
<img src=aja886.jpg alt="Annabel and Alex on Christmas"><br>
This is Annabel and Alex on Christmas morning<p>
<img src=aja887.jpg alt="Annabel and Curran"><br>
This is Annabel and Curran on Christmas at Grandma and Grandpa K's<p>

</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>