<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel in August 2006</h1><p><hr><br>

<font size="+1">

<img src=aja962.jpg alt="Annabel, Alex, Bradley, and Mitchell"><br>
This is Annabel on the Grand Haven Pier with Alex and her cousins Bradley and Mitchell<p>
<img src=aja961.jpg alt="Annabel, Alex and Bradley"><br>
This is Annabel, Alex and Bradley in Grandma and Grandpa V's hot tub<p>
<img src=aja963.jpg alt="Annabel and Curran"><br>
This is Annabel and her cousin Curran crusing in Grandpa K's SUV<p>
<img src=aja964.jpg alt="Annabel and Curran 2"><br>
This is Annabel and Curran on the beach at Lake Huron<p>
<img src=aja965.jpg alt="Annabel, Alex, and Will"><br>
This is Annabel, Alex and her cousin Will hanging out in Caseville<p>

</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>