<html>

<title>Annabel Pictures</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel in April 2006</h1><p><hr><br>

<font size="+1">

<img src=aja921.jpg alt="Annabel in the 1800s"><br>
This is Annabel back in the 1800s<p>
<img src=aja922.jpg alt="Annabel's Easter"><br>
This is Annabel getting ready to tear into her Easter basket<p>
<img src=aja923.jpg alt="Annabel at brunch"><br>
This is Annabel enjoying Easter brunch<p>
<img src=aja924.jpg alt="Annabel having fun"><br>
This is Annabel and Alex having fun<p>
<img src=aja925.jpg alt="Annabel the Wing"><br>
This is Annabel celebrating a goal by the Red Wings<p>
<img src=aja926.jpg alt="Annabella Tapdancerina"><br>
This is Annabella Tapdancerina showing off her costume for her upcoming recital<p>
<img src=aja927.jpg alt="Annabel zipping"><br>
This is Annabel zipping up before heading outside<p>
<img src=aja928.jpg alt="Annabel dressing dolls"><br>
This is Annabel dressing her paper dolls<p>

</center>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</font>
</body>
</html>