<html>

<title>Past Photos by Annabel</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel Photos in 2007</h1><p><hr><br>

<font size="+1">

<img src=ajaphoto059.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Oatmeal Under the Bed" by Annabel (11/19/2007)<p>
<img src=ajaphoto058.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Steve's Picture" by Annabel (10/29/2007)<p>
<img src=ajaphoto057.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Many Leis" by Annabel (8/22/2007)<p>
<img src=ajaphoto056.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"My Tree" by Annabel (7/18/2007)<p>
<img src=ajaphoto055.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Beach Ball" by Annabel (6/13/2007)<p>
<img src=ajaphoto054.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Crazy Self Portrait" by Annabel (6/13/2007)<p>
<img src=ajaphoto053.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Flip Flop" by Annabel (6/13/2007)<p>
<img src=ajaphoto052.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Us" by Annabel (6/13/2007)<p>
<img src=ajaphoto051.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"My Feet" by Annabel (6/13/2007)<p>
<img src=ajaphoto050.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Blockhead House" by Annabel (6/13/2007)<p>
<img src=ajaphoto049.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Groovy Girls + Hockey Player" by Annabel (6/11/2007)<p>
<img src=ajaphoto048.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Cookies" by Annabel (6/5/2007)<p>
<img src=ajaphoto047.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Me" by Annabel's brother Alex (6/5/2007)<p>
<img src=ajaphoto046.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Hand Arch" by Annabel's brother Alex (6/2/2007)<p>
<img src=ajaphoto045.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Blockhead Group Photo" by Annabel (6/2/2007)<p>
<img src=ajaphoto044.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Extreme Hand Closeup" by Annabel (4/23/2007)<p>
<img src=ajaphoto043.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Tree Through Smarmy Window" by Annabel (4/23/2007)<p>
<img src=ajaphoto042.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"My Knee" by Annabel (4/23/2007)<p>
<img src=ajaphoto041.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"The Newest Musical Instrument" by Annabel (4/23/2007)<p>
<img src=ajaphoto040.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Celebrate" by Annabel (4/17/2007)<p>
<img src=ajaphoto039.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Self Portrait" by Annabel (3/5/2007)<p>
<img src=ajaphoto038.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Sleeping Beauty" by Annabel (3/5/2007)<p>
<img src=ajaphoto037.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Smile Boy" by Annabel (3/5/2007)<p>
<img src=ajaphoto035.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Ceiling" by Annabel (3/4/2007)<p>
<img src=ajaphoto034.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Mommy's Craft Stuff" by Annabel (3/4/2007)<p>
<img src=ajaphoto033.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Wall" by Annabel (3/4/2007)<p>
<img src=ajaphoto032.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Late Afternoon" by Annabel (3/4/2007)<p>
<img src=ajaphoto031.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Krusty Krab" by Annabel (1/6/2007)<p>
<img src=ajaphoto030.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Anakin's Jedi Starfighter" by Annabel (1/6/2007)<p>
<img src=ajaphoto029.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Sleeping Fairy" by Annabel (1/6/2007)<p>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</center>
</font>
</body>
</html>