<html>

<title>Past Photos by Annabel</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Annabel Photos in 2006</h1><p><hr><br>

<font size="+1">

<img src=ajaphoto028.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Spooky Tree" by Annabel (11/28/2006)<p>
<img src=ajaphoto027.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Thankful Turkey" by Annabel (11/8/2006)<p>
<img src=ajaphoto026.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"You're So Far Away" by Annabel (10/27/2006)<p>
<img src=ajaphoto025.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Reading" by Annabel (10/27/2006)<p>
<img src=ajaphoto024.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Silly" by Annabel (10/27/2006)<p>
<img src=ajaphoto023.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Photo Frame" by Annabel (10/4/2006)<p>
<img src=ajaphoto022.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Train Conductor" by Annabel (10/4/2006)<p>
<img src=ajaphoto021.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Anakin Skywalker" by Annabel (10/3/2006)<p>
<img src=ajaphoto020.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"My Tree" by Annabel (10/2/2006)<p>
<img src=ajaphoto019.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"My Shadow" by Annabel (10/2/2006)<p>
<img src=ajaphoto018.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"New Swingset" by Annabel (10/2/2006)<p>
<img src=ajaphoto017.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Self Portrait" by Annabel (10/2/2006)<p>
<img src=ajaphoto016.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Alex Smile" by Annabel (10/2/2006)<p>
<img src=ajaphoto015.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Snuggle Bear" by Annabel (8/25/2006)<p>
<img src=ajaphoto014.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Yoda Drinking Gatorade" by Annabel (8/21/2006)<p>
<img src=ajaphoto013.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Yoda Drinking Milk" by Annabel (8/21/2006)<p>
<img src=ajaphoto012.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"What?" by Annabel (8/7/2006)<p>
<img src=ajaphoto011.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Breakfast For Lunch" by Annabel (8/7/2006)<p>
<img src=ajaphoto010.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Ripped Up Piñata" by Annabel (7/12/2006)<p>
<img src=ajaphoto009.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Star Wars Boys" by Annabel (7/6/2006)<p>
<img src=ajaphoto008.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"What Did He Say?" by Annabel (7/6/2006)<p>
<img src=ajaphoto007.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"I'm So Happy" by Annabel (7/6/2006)<p>
<img src=ajaphoto006.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"What's So Funny?" by Annabel (7/5/2006)<p>
<img src=ajaphoto005.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"What Will You Eat?" by Annabel (7/5/2006)<p>
<img src=ajaphoto004.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Step On Me" by Annabel (7/3/2006)<p>
<img src=ajaphoto003.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Laying Lei" by Annabel (7/3/2006)<p>
<img src=ajaphoto002.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"Water Bottles" by Annabel (6/22/2006)<p>
<img src=ajaphoto001.jpg alt="photo" border=2><br>
<font size="+1" color="purple">"80 Degree Day" by Annabel (6/21/2006)<p>
<hr>

Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
</center>
</font>
</body>
</html>