<html>

<title>Annabel Pictures</title>

<body text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Camping in Virginia 2002</h1><p><hr><br>

<font size="+1">

<img src=camping03.jpg><p>
<img src=camping07.jpg><p>
<img src=camping02.jpg><p>
<img src=camping08.jpg><p>
<img src=camping06.jpg><br>
Hey is that Gary's underwear?<p>
<img src=camping01.jpg><p>
<img src=camping04.jpg><p>
<img src=camping05.jpg><p>
</center>
<hr>

This page created and maintained by the Allens<br>
</font>
</body>
</html>