<html>

<title>Photos by Annabel</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Past Annabel Photography</h1><p><hr>

<table>
<tr>
<td><center><a href="ajaphoto2006.htm"><img src=ajaphoto2006.jpg alt="2006" border=2></a></center></td>
<td><center><a href="ajaphoto2007.htm"><img src=ajaphoto2007.jpg alt="2007" border=2></a></center></td>
<td><center><a href="ajaphoto2008.htm"><img src=ajaphoto2008.jpg alt="2008" border=2></a></center></td>
</tr>
<tr>
<td><center><font size="+1"><a href="ajaphoto2006.htm">2006</a></font></center></td>
<td><center><font size="+1"><a href="ajaphoto2007.htm">2007</a></font></center></td>
<td><center><font size="+1"><a href="ajaphoto2008.htm">2008</a></font></center></td>
</tr>
</table><p><hr>

<font size="+1">
Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
Last modified on December 11, 2009
</center>
</font>
</body>
</html>