<html>

<title>Past Writing by Annabel</title>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>
<h1>Past Annabel Writing</h1><p><hr>
</center>

<center>
<font size="+1" color="blue">
The Very Strange Animal<br>
By Annabel Allen (March 2007)<p>
</center>

I was in the park running around playing tag with my little brother Alex.  He was “It” and I was making sure that if he caught up with me, I was close to a park bench.  He was catching up with me, so I ran behind the closest park bench to hide.  I looked into the woods behind me and saw the most peculiar thing.  It was a strange animal.<p>
When I saw the animal, I noticed its big green human eyes.  On the top of its gray mouse head was a set of brown mouse ears.  I couldn’t help but notice the animal’s large red, brown, and orange striped tail.  The rainbow colored horse hooves were beautiful.  Then suddenly I spotted peacock feathers along its back.  When it turned, I could only see the legs on one side.  One looked like a brown horse leg with black cow spots, and the other was a horse leg with orange, red, and brown stripes with black cow spots.  The animal’s neck had brown horse fur on it.<p>
The animal spoke up and said that her name was Polli and the she was a M.F.C.H.P (a Mouse-Fox-Cow-Horse-Peacock).  I just called her Polli.  My brother found me behind the bench and touched my shoulder.<p>
“Tag,” he shouted for the world to hear.<p>
“Look at this animal I found,” I said.<p>
“What animal?” asked Alex.<p>
I looked at the spot where Polli had been standing.  She wasn’t there.  Alex left and Polli appeared again.  “I am invisible when others come,” Polli explained.<p>
“Will you tell me where you live?”  I asked.<p>
“I don’t know.  I got lost,” answered Polli.<p>
“Annabel!  Alex!”  My mom motioned for us to come over.  Polli was small so I cupped my hands and picked her up.  I ran to my mom and hopped into the car.<p>
When I got into the car, I set the invisible Polli on my lap.<p>
“Why are you pretending to put something on your lap?” asked Alex.<p>
I ignored him until we got home.  Polli was sleeping so I set her on some blankets stacked on my bed.  Then I read my chapter book to myself while lying on my bed.<p>
I must have fallen asleep because the next morning I woke to the sound of music.  I opened my eyes and looked at the clock.  9:30.  I had slept in.  Only one question had to be asked.  Where was the music coming from?  I looked at my cd player and giggled.  Polli was dancing to the music from a CD she had inserted into the CD player.  I giggled again when I looked at Polli.  She was having the time of her life.  Soon I was laughing so hard I nearly fell off my bed.  Then I ran downstairs, Polli following behind me.<p>
I had a fun weekend and at school that week, I drew a picture of Polli.  It was bizarre though because everyone else in the class drew a strange animal too.  We put the pictures out on the wall afterwards.  I got to keep Polli (since no one else could see her) and later I got to see my friends’ animals too.<p>
<hr><p>

<center>
<font size="+1" color="blue">
Autumn Glade<br>
By Annabel Allen (February 2007)<p>
</center>

Once there was a girl named Autumn Glade and she had a best friend named Clara Aglen.  They were in preschool at Morning Hills Elementary School and played together everyday.  One day Autumn Glade had to move away.  She moved to a city called Haslett.  Her new school was called Wilkshire Early Childhood Center.  This is where our story starts.<p>
Autumn’s day started as usual.  That afternoon when Autumn’s eight-year-old sister came home from school, their mom said, “Girls, I need to give you something.”  She went upstairs and went into her room.  She grabbed two necklaces and ran back downstairs.  “These necklaces have your birthstones in them.  These are magical stones.  They can attract fairies and bring you luck.  I want you to be careful with them.”<p> 
June said, “They’re beautiful!  We’ll take good care of them, right Autumn?"<p>
Autumn said, “Okay.  I hope we see some fairies soon!"<p>
Creak!  The door opened and in came Mr. Glade.  “Where are my three favorite girls?  Their ages are four, eight, and thirty eight,” sang Mr. Glade.<p>
“Hee!  Hee!”  laughed Autumn and June as they hid behind the couch.  Then June saw something moving in her dad’s pocket.  She was wondering what it could be.  She jumped out from her hiding spot.<p>
“What’s that in your pocket Dad?” asked June.<p>	
“Well, I found a sapphire fairy and a diamond fairy!” answered Mr.Glade.<p>
Autumn jumped out from her hiding spot and stood by June with an excited look on her face.<p>
“Oh David!” said Mrs.Glade.<p>
“You can come out birthstone fairies,” Mr.Glade whispered into his pocket.  Then out of his pocket came two fairies.  One fairy was wearing a white dress, a white headband, and had a black wand with white sparks coming out of it.  The other fairy was wearing a blue dress.  She had a blue flower in her hair.  Her wand was also black, but it had blue sparks coming out of it.<p>
The blue fairy said, “I am Sapphire, the blue fairy.”  She flew over to Autumn who was wearing her sapphire birthstone necklace.<p>
The white fairy flew over to June.  She said, “I am Diamond.  We are your birthstone fairies.  We are here to protect you from danger and to bring you luck.  We are connected to the magic in your necklaces.”<p>
Over the next few weeks, the girls had fun with the fairies.  If the girls ever needed help from the fairies while they were at school, they could hold onto their necklace and whisper something to the fairy.<p>
One Saturday while the girls were watching TV, in the living room, they suddenly heard a loud sound.  BOOM!  BOOM!  A giant came crashing into the house breaking everything in sight.  Autumn started crying and she screamed, “I’m scared!”  and clung to June.  The girls didn’t know what to do.<p>
“I hope we have enough money to but a new house,” whispered Mrs. Glade.<p>
In a booming voice, the giant said, “I smell fairies!  Where is the birthstone fairies?  I want lunch! ”<p>
“I have no idea,” Mrs. Glade said bravely to the giant.  Now while Mrs. Glade was saying this she was also helping the fairies get into her pocket to hide.  June quietly took out a note pad and wrote something down without the giant seeing.  This is what her note said:<p>
Dear Aglen Family,<p>
We probably will need to stay at your house for a little while.  A giant has smashed our house!<p>
Love, June<p>
She handed the note to the diamond fairy.  The fairy quickly flew out the open window to deliver the note to the Aglen family.  The giant saw her leaving and yelled, “Give me note.  Give me you’s paper and things.”<p>
“No way you destroying brutal monster!” yelled June at the giant.<p>
Then a fairy as tall as a school chair came in through the ceiling.  With her magic, she made a big, blue glowing bubble and placed the bubble around the Glade family.  “This bubble will take you to Migalton, where the Aglens live.”  The bubble floated them safely to the Aglen house.<p>
Once they had gotten to Clara’s house, they rang the doorbell.  A voice from inside said, “Come in.”  They went in and heard, “Surprise!”  The Aglens jumped out and said, “We got your message so we sent our fairy with a bubble to rescue you.  Will you please stay with us while your house is getting fixed?”<p>
“Yes, we will,” said the Glades.  “We have another fairy with us.  Where should she stay?”<p>
The Aglens opened a closet door and there was a place where pixies, fairies, goblins and all kinds of other magical creatures lived.  The sapphire fairy happily flew into the closet to join her friend the diamond fairy.<p>
The End.<p>
<hr><p>

<center>
<font size="+1" color="blue">WINTER<br>
By Annabel (December 2006)<br><br>
Winter snow falls softly<br>
making lives so bright.<br>
Winter blizzards come<br>
by making cold cold nights.<br>
When we go to bed<br>
we think of all the snow<br>
falling, falling softly<br>
listening to the wind blow.<p></font>

<hr>
<font size="+1" color="purple">
Back to <a href="index.htm">Annabel's Page</a><br>
<hr>
This page created and maintained by the Allens<br>
Last modified on December 11, 2009
</center>
</font>
</body>
</html>