<html>
<head>
<title>Past Pictures of Annabel</title>
</head>

<body background=hellokitty.gif text="purple" vlink="blue" link="blue" alink="blue">

<center>

<h1>Past Pictures of Me</h1><hr>

<table>
<tr>
<td><center><a href="pages/pastPics/1998/aja1998.htm"><img src=pages/pastPics/1998/aja1998.jpg alt="1998" border=0></a></center></td>
<td><center><a href="pages/pastPics/1999/aja1999.htm"><img src=pages/pastPics/1999/aja1999.jpg alt="1999" border=0></a></center></td>
<td><center><a href="pages/pastPics/2000/aja2000.htm"><img src=pages/pastPics/2000/aja2000.jpg alt="2000" border=0></a></center></td>
<td><center><a href="pages/pastPics/2001/aja2001.htm"><img src=pages/pastPics/2001/aja2001.jpg alt="2001" border=0></a></center></td>
<td><center><a href="pages/pastPics/2002/aja2002.htm"><img src=pages/pastPics/2002/aja2002.jpg alt="2002" border=0></a></center></td>
<td><center><a href="pages/pastPics/2003/aja2003.htm"><img src=pages/pastPics/2003/aja2003.jpg alt="2003" border=0></a></center></td>
</tr>
<tr>
<td><center><font size="+1"><a href="pages/pastPics/1998/aja1998.htm">1998</a></font></center></td>
<td><center><font size="+1"><a href="pages/pastPics/1999/aja1999.htm">1999</a></font></center></td>
<td><center><font size="+1"><a href="pages/pastPics/2000/aja2000.htm">2000</a></font></center></td>
<td><center><font size="+1"><a href="pages/pastPics/2001/aja2001.htm">2001</a></font></center></td>
<td><center><font size="+1"><a href="pages/pastPics/2002/aja2002.htm">2002</a></font></center></td>
<td><center><font size="+1"><a href="pages/pastPics/2003/aja2003.htm">2003</a></font></center></td>
</tr>
</table>
<table>
<tr>
<td><center><a href="pages/pastPics/2004/aja2004.htm"><img src=pages/pastPics/2004/aja2004.jpg alt="2004" border=0></a></center></td>
<td><center><a href="pages/pastPics/2005/aja2005.htm"><img src=pages/pastPics/2005/aja2005.jpg alt="2005" border=0></a></center></td>
<td><center><a href="pages/pastPics/2006/aja2006.htm"><img src=pages/pastPics/2006/aja2006.jpg alt="2006" border=0></a></center></td>
<td><center><a href="pages/pastPics/2007/aja2007.htm"><img src=pages/pastPics/2007/aja2007.jpg alt="2007" border=0></a></center></td>
<td><center><a href="pages/pastPics/2008/aja2008.htm"><img src=pages/pastPics/2008/aja2008.jpg alt="2008" border=0></a></center></td>
</tr>
<tr>
<td><center><font size="+1"><a href="pages/pastPics/2004/aja2004.htm">2004</a></font></center></td>
<td><center><font size="+1"><a href="pages/pastPics/2005/aja2005.htm">2005</a></font></center></td>
<td><center><font size="+1"><a href="pages/pastPics/2006/aja2006.htm">2006</a></font></center></td>
<td><center><font size="+1"><a href="pages/pastPics/2007/aja2007.htm">2007</a></font></center></td>
<td><center><font size="+1"><a href="pages/pastPics/2008/aja2008.htm">2008</a></font></center></td>
</tr>
</table><p><hr>

<font size="+1">
Back to <a href="index.htm">Annabel's Page</a><br><hr>
This page created and maintained by the Allens<br>
Last modified on December 11, 2009
</font>
</center>
</body>
</html>